name: "Auto translation update"

on:
  push:
    branches-ignore:
      - 'release'
      - '**.**'

jobs:
   update_translation:
     name: "Update plugin translation"
     runs-on: "ubuntu-latest"

     steps:
      - name: "Translation"
        id: translation
        uses: fieldOfView/cura-plugin-translation-action@feature_definitioncontainer_translation
        with:
          translation_folder: 'i18n'
          translation_name: 'arcwelderplugin'
          plugin_name: 'Arc Welder Plugin'

      - if: ${{ steps.translation.outputs.template_updated || steps.translation.outputs.locales_updated }}
        name: 'Create Pull Request'
        uses: peter-evans/create-pull-request@v4
        with:
          branch: ${{github.ref_name}}-translation
          delete-branch: true
          title: 'Translation update'
          body: 'Translation was automatically updated'
          commit-message: 'Translation update'
          labels: 'translation'